@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    width: 300px;
    anchor-name: --mascote;
}
main{
    padding: 1em;
    background-color: white;
    border: 4px solid black;
}
.texto{
    text-align: center;
    padding: 1em;
}
.texto h1{
    margin-bottom: .5em;
}
.controles{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}
.botao{
    flex: auto;
}
.botao input[type="radio"]{
    display: none;
}
.botao label{
    display: inline-block;
    padding: .2em;
    background-color: aqua;
    width: 100%;
    text-align: center;
    border-radius: .6em;
    cursor: pointer;
    transition: all .3s;
    font-size: 2em;
}
.botao label:hover{
    background-color: rgb(24, 162, 221);
}
.botao input[type="radio"]:checked + label{
    background-color: rgb(33, 95, 202);
}
#escolha-pc{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: aqua;
    position: absolute;
    position-anchor: --mascote;
    bottom: anchor(top);
    right: anchor(left);
    transform: translate(30%, 30%);
    align-content: center;
}
#escolha-pc p{
    text-align: center;
    font-size: 3em;
}
.pontuacao{
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 5em;
}
#mensagem{
    width: 400px;
    height: 200px;
    border-radius: 1em;
    background-color: rgba(0, 140, 255, 0.7);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 .3em darkblue;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    align-content: center;
}
#mensagem button{
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    background-color: white;
    border: .2em solid black;
    padding: 1em 2em;
    border-radius: 1em;
}
#mensagem p{
    font-weight: bold;
    font-size: 2em;
    color: white;
}
#mascara{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 139, 0.5);
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(10px);
    display: none;
}
#mascara.aparece{
    display: block;
}

@media screen and (max-width: 768px){
    body{
        justify-content: flex-end;
        padding: 1em;
    }
    .controles{
        flex-direction: column;
        gap: 1em;
    }
    .botao{
        width: 100%;
    }
    #escolha-pc{
        transform: translate(-50%, 0);
        border-radius: .6em;
        height: 80px;
        width: 80vw;
        bottom: anchor(top);
        left: anchor(center);
        margin-bottom: 1em;
    }
}